<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mauiapp3-funcmauiapp3-func-gkc3byfng3axcnc5.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/104d401c-0227-410d-8473-81e4f79c6a05/resourceGroups/MauiApp3/providers/Microsoft.Web/sites/mauiapp3-funcmauiapp3-func</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://mauiapp3-funcmauiapp3-func-gkc3byfng3axcnc5.scm.westeurope-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>